* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

ul {
    list-style: none;
}

.header {
    background-color: #1F2937;
    padding: 16px 128px 64px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header-links, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 24px;
}

.hero-container {
    display: flex;
    gap: 24px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    border:none;
    margin-top: 4px;
}

.hero-left, .hero-right {
    flex-basis: 50%;
}

.hero-image {
    height: 100%;
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 32px 0;
}

.info-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 135px;
    gap: 4px;
    margin-bottom: 48px;
}

.card-image {
    border: 2px solid #3882F6;
    border-radius: 8px;
    height: 135px;
    width: 100%;
}

.card-text {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 64px 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-text, .quote-athor {
    flex: 1;
}

.quote-author {
    align-self: end;
}

.cta-container {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: #3882F6;
    display: flex;
    padding: 24px 96px;
    border-radius: 5px;
}

.cta-left {
    width: 70%;
}

.cta-right {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cta-heading, .cta-text {
    color: #F9FAF8;
}

.cta-button {
    padding: 4px 16px;
    background-color: #3882F6;
    border: 2px solid white;
    color: #F9FAF8;
    border-radius: 6px;
}
